body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(stars.gif);
  background-size: cover;
  background-repeat: no-repeat;
  }
.firgureSesos{
  position: absolute;
  top: 0%;
}
#sesos{
  margin: 0px;
  position: relative;
  width: 1000px;
  z-index: 10;
}
#space{
  position: absolute;
  top: 10%;
  opacity: 50%;
}
nav{
  position: absolute;
  width: 800px;
  height: 45px;
  top: 240px;
  background: rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(74, 19, 117, 0.6);
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#search{
  height: 30px;
  margin: 8px;
  background: rgba(196, 196, 196, 0.1);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
}
::placeholder{
  font-size: large;
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}
#portals{
  position: absolute;
  top: 55%;
}
#portal{
  width: 190px;
  color: #fff;
}
p{
  margin: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  font-size: x-large;
}
#ship{
  z-index: 20;
  width: 80px;
  height: 45px;
  margin: 5px;
}
#divShip{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
h3{
  color: #fff;
}
#all{
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}
#genderSection{
  color: #fff;
}