body{
  margin-top: 0px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(stars.gif);
  background-size: cover;
  background-repeat: no-repeat;
  }
.firgureSesos{
  position: absolute;
  top: 0%;
}
#sesos{
  margin: 0px;
  position: relative;
  width: 1000px;
  z-index: 20;
}
#space{
  position: absolute;
  top: 10%;
  opacity: 50%;
}
nav{
  position: fixed;
  /* position: absolute; */
  width: 800px;
  height: 45px;
  top: 25px;
  background: rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(74, 19, 117, 0.6);
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}
#search{
  height: 30px;
  margin: 8px;
  background: rgba(196, 196, 196, 0.1);
  border: 2px solid rgba(128, 255, 0, 0.678);
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  outline: none;
}
::placeholder{
  font-size: large;
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
  color: #ffffff;
}
p{
  margin: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  font-size: x-large;
}
#ship{
  z-index: 20;
  width: 80px;
  height: 45px;
  margin: 5px;
}
#divShip{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
/* Style The Dropdown Button */
.dropbtn{
  background: none;
  margin: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  font-size: x-large;
  border-radius: 20px; 
  cursor: pointer
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.377);
  z-index: 1;
  border-radius: 20px;
}
/* Links inside the dropdown */
.dropdown-content .subcategories {
  font-weight: bold;
  font-family: 'Tomorrow', sans-serif;
  color: rgb(255, 255, 255);
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  background: none;
  border-radius: 20px;
}
/* Change color of dropdown links on hover */
.dropdown-content .subcategories:hover {
  background-color: rgba(128, 255, 0, 0.678);
  border-radius: 20px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  border-color: chartreuse;
}
.subcategories{
  background: none;
  margin: 7px;
  color: rgb(255, 255, 255);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  border-radius: 20px; 
  cursor: pointer;
  font-size: large;
}
.subcat{
  background: none;
  margin: 7px;
  color: rgb(255, 255, 255);
  font-family: 'Tomorrow', sans-serif;
  font-weight: bold;
  border-radius: 20px; 
  cursor: pointer;
  font-size: large;
}
.species{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Tomorrow', sans-serif;
  color: #fff;
  font-size: smaller;
}
.card{
  font-family: 'Tomorrow', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.imagen{
  /* background-image: url(portal.png); */
  /* transform: rotate(3600deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg); 
  transition: transform 4s;
  -webkit-transition: -webkit-transform 4s;
  -moz-transition: -moz-transform 4s;  */
  width: 150px;
  margin: 30px;
  box-shadow: 0px 8px 16px 0px rgba(39, 231, 21, 0.753);
  border-radius: 70px;
  z-index: 10;
  box-shadow: inset 0 0 55px 10 px black;
  cursor: pointer;
}
/* #openPortal{ */
  /* position: absolute;
  top: 55%; */
  /* position: fixed;
  display: none; */
  /* width: 100%; */
  /* height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
#openPortal:target{
  display: block; */
  /* opacity: 50%; */
/* } */
#portal{
  width: 190px;
  color: #fff;
}
/* #overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%; */

/*sección género*/
.genderSection{
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
/*sección buscador*/
#drawSearch{
 color: #fff;
}
.nothing{
  color: #fff;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}